alembic
click
colorama
Flask
Flask-Admin
Flask-Login
Flask-Migrate
flask-paginate
Flask-SQLAlchemy
Flask-WTF
GeoAlchemy2
greenlet
gunicorn
importlib-resources
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
psycopg2-binary
pyparsing
python-dotenv
SQLAlchemy
Werkzeug
WTForms
zipp==3.6.0