<header class="section-header">
    <div class="servicesPage-header_navbar">
        <div class="servicesPage-header__top container h-100">
            <div class="servicesPage-header_navbar-wrap row d-flex">
                <div class="col-3 servicesPage-header_logo">IGT Travels</div>
                <div class="col-9 servicesPage-header_menu">
                    <ul class="d-flex justify-content-between servicesPage-header_menu-ul">
                        <li><a class="servicesPage-header_menu-link" href="{{url_for('index')}}">Home</a></li>
                        <li><a class="servicesPage-header_menu-link" href="{{ url_for('places') }}">Places</a></li>
                        <li><a class="servicesPage-header_menu-link" href="{{ url_for('def_service') }}">Services</a></li>
                        <li><a class="servicesPage-header_menu-link" href="{{ url_for('posts') }}">Posts</a></li>
                        <li><a class="servicesPage-header_menu-link" href="/map">Map</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
